<md-content>
  <section layout="row" layout-sm="column" layout-align="center center">
    <div layout='column'  > 
      <h1> Contributors </h1>
      <div class='contributor-container' style="padding: 10px" ng-repeat="contributor in contributors" class="ng-scope" layout = 'row'>
        <div class='contributor-pic-container' style = 'margin-right: 15px; border: 1px solid #888' layout = 'column'>
          <img align="top" src= '{{"http://www.gravatar.com/avatar/" + contributor.gravatarHash}} + "?s=200"' />
          <div style="padding: 10px">
            <a href='{{contributor.gitHub}}'><i class="fa fa-2x fa-github-square"></i></a>
            <a href="{{contributor.linkedIn}}"><i class="fa fa-2x fa-linkedin-square"></i></a> 
            <a href="{{'mailto:'+contributor.email}}"><i class="fa fa-2x fa-envelope-o"></i></a>
          </div>
        </div>
        <div flex class ='contributor-text-container' layout='column'>
          <strong>{{contributor.name}}</strong>
          <p>{{contributor.body}}</p>
        </div>
      </div>
      <h1> Supporters </h1>
      <div class='supporters-container ng-scope' layout='row'>
        <div class='supporter-container' style='width:50%' ng-repeat='supporter in supporters' layout='column'>
          <h2> {{supporter.name}}</h2>
          <img align="top" style="width:100%; height: 100px" src= '{{supporter.image}}'></img>
          <div> {{supporter.body}}</div>
        </div>
      </div>
    </div>
  </section>
  <section layout="row" layout-sm="column" layout-align="center center">
  <div><a href="#/">Back to the landing page.</a></div>
  </section>
</md-content>
