$layout-breakpoint-xs: 640px;
$layout-breakpoint-sm: 960px;
$layout-breakpoint-md: 1280px;
$layout-breakpoint-lg: 1920px;

$width-xs: $layout-breakpoint-xs;
$width-sm: $layout-breakpoint-sm;
$width-md: $layout-breakpoint-md;
$width-lg: $layout-breakpoint-lg;
