.planning-poker {

  .md-button.md-default-theme.fab-flat {
    height: 56px;
    width: 56px;
    border-radius: 50%;

    .md-ripple-container {
      border-radius: 50%;
    }
  }

  .md-toolbar-tools {
    padding: 0 32px;
  }

  a {
    color: #2196F3;
    text-decoration: none;
    font-weight: bold;
  }

  md-toolbar .md-toolbar-tools .md-button,
  md-toolbar .md-toolbar-tools .md-button:hover,
  md-toolbar .md-toolbar-tools .md-button:focus  {
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;
  }

  .thorsent-home img {
    margin: 10px;
  }

  .md-button.share,
  .md-button.edit {
    margin: 0 16px;
  }

  .empty-deck {
    margin: 40px 0;
  }

  md-card {
    width: auto;
    min-width: 60px;

    md-card-content {
      padding: 16px 8px;
      text-align: center;

      p {
        overflow: hidden;
      }

      md-input-container {
        padding: 15px 2px 16px;
      }

      input[type='text'] {
        transition: width 0.5s ease;
        width: 48px;

        &:focus {
         width: 96px;
        }
      }
    }

    &.card-back {
      background-image: url("../../assets/images/card_back.png");
    }

    &.selected {
      background-color: #BBDEFB;
      color: rgba(0,0,0,0.87);
    }

    &.choosable:hover {
      cursor: pointer;
      background-color: #2196F3;
      color: rgba(255,255,255,1);
    }  

    &.no-vote {
      box-shadow: none;

      md-card-content {
        outline: 1px dotted rgba(0,0,0,0.87);
      }
    }
  }

  .vote-completion {
    padding: 0 32px;
  }

  .leader-actions {
    padding: 16px;

    button {
      margin: 6px;
      padding: 6px 12px;
    }

    i {
      margin-right: 6px;
    }

    md-select {
      margin: 0 6px;
    }
  }

  &.deck-editor {

    width: 80%;

    md-content.sticky-container {
      padding: 0; 
    }
    
    md-content.sticky-container .dialog-content {
      padding: 0 24px 24px; 
    }
    
    .md-subheader {
      background-color: #BBDEFB;
      margin: 0px; 
    }

    h2.md-subheader.md-sticky-clone {
      margin-right: 0px;
      margin-top: 0px;
      box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.16); 
    }

    h2 .md-subheader-content {
      padding-left: 10px; 
    }

    md-card {
      position: relative;

      button {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: none;
      }

      &:hover button {
        display: block;
      }
    }
  }

  .copyright {
    color: rgba(0,0,0,0.26);

    p {
      margin: 0;
    }
  }

  .md-button.md-default-theme.md-fab.fab-flat {
    background-color: initial;
    box-shadow: none;
    border: none;
    transform: none;
    -webkit-transform: none;

    &:not([disabled]):hover,
    &:focus {
     background-color: rgba(158,158,158,0.2);
    }

    &.md-primary {
      color: #2196F3;
    }

    &.md-warn {
      color: #D32F2F;
    }
  }

  .scale-fade {
    
    &.ng-enter {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
      opacity: 0;

      &.ng-enter-active {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1;
      }
    }

    &.ng-leave {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transform: scale(1);
      -webkit-transform: scale(1);
      opacity: 1;

      &.ng-leave-active {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        opacity: 0;
      }
    }
  }
}